html {
  color: seashell;
}

a {
  color: seashell;
}

h3, h4 {
  margin: 0;
  padding: 10px;
}

body {
  background-color: black;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

header {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  z-index: 5;
  width: 100%;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

.TeaCozyLogoBox {
  display: flex;
  width: auto;
  margin-left: 10px;
}

/* Main Body Block */
.TeaCozyMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  margin: 0 auto;
}

/* Tea Cozy Mission */
.TeaMission {
  display: flex;
  height: 700px;
  width: 1200px;
  align-items: center;
  background-image: url("../../resources/images/img-mission-background.jpg");
  background-repeat: no-repeat;
}

.TeaMissionBanner {
  display: block;
  background-color: black;
  align-items: center;
  width: 100%;
}

/* Tea of the Month Section */
.TeaOfTheMonth {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  padding: 70px 0 0 0;
}

.TeaOfTheMonthBanner {
  display: block;
}

.TeaOfTheMonthBanner h2 {
  margin: 10px 10px;
}

.TeaOfTheMonthBanner h4 {
  margin: 10px 10px;
}

.TeaOfTheMonthRow {
  display: flex;
  justify-content: center;
}

.TeaBox {
  justify-content: space-around;
  margin: 15px 15px 10px 15px;
}

.TeaBox img {
  display: block;
  height: 200px;
}

.Teabox h4 {
  padding: 0;
  margin: 10px;
}

.TeaBox span {
  display: block;
  padding: 5px;
  text-align: center;
}

/* Location Section */
.TeaLocation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  background-image: url("../../resources/images/img-locations-background.jpg");
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 40px 0 0 0;
  padding: 70px 0 0 0;
}

.TeaLocation h2 {
  margin: 0;
}

.TeaAddressRow {
  display: flex;
  line-height: 1.56em;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 15px 20px;
  opacity: 1;
}

.TeaLocationBox {
  background-color: black;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 20px;
}

.TeaLocationBox h4 {
  display: block;
}

#contact{
  height: 200px;
}

footer {
  margin-left: 20px;
}